{% extends "intro_item.html" %}

{% block contents %}

<div class="tab">
  <button {% if tab_id == '1' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'first')">IoTMakers 3.0</button>
  <button {% if tab_id == '2' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'second')">소물인터넷 서비스</button>
  <button {% if tab_id == '3' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'third')">Vertical IoT 서비스</button>
  <button class="tablinks" onclick="window.open('http://iotgwui.biz.olleh.com/iotportal/#/IoTMakers')">IoT솔루션 포털</button>
  <div style="float:right;">
      <a href="/intro/items"><img src="/static/img/solution_button.png" width="80px" height="40px"/></a>
  </div>
</div>


<div id="first" {% if tab_id == '1' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
   <ul class="sub_item">
    <li><div onclick="imagetab(event, 1, 0)" class="sub_tab1" style="border-bottom:2px solid #17345a;">GiGA IoTMakers 3.0</div></li>
     <li><div onclick="imagetab(event, 1, 1)" class="sub_tab1">IoT Analytics</div></li>
     <li><div onclick="imagetab(event, 1, 2)" class="sub_tab1">NB-IoT 특화 플랫폼</div></li>
     <li style="border-right:none;"><div onclick="imagetab(event, 1, 3)" class="sub_tab1">Dashboard Pro & IoT 센서팩</div></li>
  </ul>
  <div style="overflow-y:scroll; height:670px; width:880px; margin-left:60px; padding-top:-20px" id="divid1">
    <!--<div class="1">
    <img src="/static/img/intro/IoTMakers_intro.png" name="1-1"/>
    <video width="800" controls autoplay>
      <source src="/static/video/trip.mp4" type="video/mp4">
    </video>
    </div>-->
    <img src="/static/img/intro/IoTMakers_intro.png" name="1-1" class="1"/>
    <img src="/static/img/intro/IoTMakersAnal_intro.png" name="1-2" class="1" style="display:none;"/>
    <img src="/static/img/intro/NB-IoT_intro.png" name="1-3" class="1" style="display:none;"/>
    <img src="/static/img/intro/Dashboard_intro.png" name="1-4" class="1" style="display:none;"/>
  </div>
</div>

<div id="second" {% if tab_id == '2' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <ul class="sub_item">
    <li><div onclick="imagetab(event, 2, 0)" class="sub_tab2">스마트 에어</div></li>
    <li><div onclick="imagetab(event, 2, 1)" class="sub_tab2">스마트 미터링</div></li>
    <li><div onclick="imagetab(event, 2, 2)" class="sub_tab2">NB-IoT 맨홀감시</div></li>
    <li><div onclick="imagetab(event, 2, 3)" class="sub_tab2">Smart Lock</div></li>
    <li style="border-right:none;"><div onclick="imagetab(event, 2, 4)" class="sub_tab2">도난방지 Tracking</div></li>
  </ul>
  <div style="overflow-y:scroll; height:670px; width:880px; margin-left:60px; padding-top:-20px" id="divid2">
    <img src="/static/img/intro/SmartAir_intro.png" name="2-1" class="2"/></p>
    <img src="/static/img/intro/SmartMirroring_intro.png" name="2-2" class="2" style="display:none;"/>
    <img src="/static/img/intro/NB-IoThall_intro.png" name="2-3" class="2" style="display:none;"/></p>
    <img src="/static/img/intro/SmartLock_intro.png" name="2-4" class="2" style="display:none;"/>
    <img src="/static/img/intro/Tracker_intro.png" name="2-5" class="2" style="display:none;"/>
  </div>
</div>

<div id="third" {% if tab_id == '3' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <ul class="sub_item">
    <li><div onclick="imagetab(event, 3, 0)" class="sub_tab3">소프트웨어 교육용 Kit 사업</div></li>
    <li><div onclick="imagetab(event, 3, 1)" class="sub_tab3">스마트 건설안전</div></li>
    <li><div onclick="imagetab(event, 3, 2)" class="sub_tab3">스마트 시티</div></li>
    <li><div onclick="imagetab(event, 3, 3)" class="sub_tab3">스마트 팩토리</div></li>
    <li><div onclick="imagetab(event, 3, 4)" class="sub_tab3">디지털 트윈</div></li>
    <li><div onclick="imagetab(event, 3, 5)" class="sub_tab3">홈 IoT with 3rd party</div></li>
    <li style="border-right:none;"><div onclick="imagetab(event, 3, 6)" class="sub_tab3">인공지능 아파트</div></li>
  </ul>
  <div style="overflow-y:scroll; height:670px; width:940px; margin-left:60px; padding-top:-20px" id="divid3">
    <img src="/static/img/intro/IoTCodingKit_intro.png" name="1-5" class="3"/></p>
    <img src="/static/img/intro/Smartbuild_intro.png" name="3-1" class="3" style="display:none;"/>
    <img src="/static/img/intro/SmartCity_intro.png" name="3-2" class="3" style="display:none;"/>
    <img src="/static/img/intro/SmartFactory_intro.png" name="3-3" class="3" style="display:none;"/>
    <img src="/static/img/intro/DigitalTwin_intro.png" name="3-4" class="3" style="display:none;"/>
    <img src="/static/img/intro/HomeIot3rd_intro.png" name="3-5" class="3" style="display:none;"/>
    <img src="/static/img/intro/SmartAPT_intro.png" name="3-6" class="3" style="display:none;"/>
  </div>
</div>








{% endblock %}