{% extends "intro_item.html" %}

{% block contents %}
<div class="tab">
  <button {% if tab_id == '1' %}class="tablinks active" {% else %} class="tablinks" {% endif %}  onclick="openCity(event, 'first')">AIBOT</button>
  <button {% if tab_id == '2' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'second')">HINT</button>
  <button {% if tab_id == '3' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'third')">AI Kiosk</button>
  <button {% if tab_id == '4' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'fourth')">지능형 사이니지</button>
  <div style="float:right;">
      <a href="/intro/items"><img src="/static/img/solution_button.png" width="80px" height="40px"/></a>
  </div>
</div>

<div id="first" {% if tab_id == '1' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <div style="overflow-y:scroll; height:720px; width:880px; margin-left:60px;">
    <div style="float:right; margin-right:50px;">
      <a href="/static/video/aibot.MP4" target="_blank"><img src="/static/video/video.png"/></a>
    </div>
    <img src="/static/img/intro/AIBOT_intro.png"/>
  </div>
</div>

<div id="second" {% if tab_id == '2' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <div style="overflow-y:scroll; height:720px; width:880px; margin-left:60px;">
    <div style="float:right; margin-right:50px;">
      <a href="/static/video/hint.MP4" target="_blank"><img src="/static/video/video.png"/></a>
    </div>
    <img src="/static/img/intro/HINT_intro.png" width="800px;"/>
  </div>
</div>

<div id="third" {% if tab_id == '3' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <div style="overflow-y:scroll; height:720px; width:880px; margin-left:60px;">
    <div style="float:right; margin-right:50px;">
      <a href="/static/video/aikiosk.MP4" target="_blank"><img src="/static/video/video.png"/></a>
    </div>
    <img src="/static/img/intro/AI-Kiosk_intro.png"/>
  </div>
</div>

<div id="fourth" {% if tab_id == '4' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <div style="overflow-y:scroll; height:720px; width:880px; margin-left:60px;">
    <div style="float:right; margin-right:50px;">
      <a href="/static/video/sinage.MP4" target="_blank"><img src="/static/video/video.png"/></a>
    </div>
    <img src="/static/img/intro/AI-sign_intro.png" />
  </div>
</div>

{% endblock %}