{% extends "intro_item.html" %}

{% block contents %}
<div class="tab">
  <button {% if tab_id == '1' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'first')">Managed 서비스</button>
  <button {% if tab_id == '2' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'second')">IMS 통합관제</button>
  <button {% if tab_id == '3' %}class="tablinks active" {% else %} class="tablinks" {% endif %} onclick="openCity(event, 'third')">GiGA BILLs</button>
  <div style="float:right;">
      <a href="/intro/items"><img src="/static/img/solution_button.png" width="80px" height="40px"/></a>
  </div>
</div>

<div id="first" {% if tab_id == '1' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <ul class="sub_item">
    <li><div onclick="imagetab(event, 1, 0)" class="sub_tab1" style="border-bottom:2px solid #17345a;">xMS(Anything Management System)</div></li>
    <li style="border-right:none;"><div onclick="imagetab(event, 1, 1)" class="sub_tab1">smartCluster</div></li>
  </ul>
  <div style="overflow-y:scroll; height:670px; width:880px; margin-left:60px;" id="divid1">
    <img src="/static/img/intro/xMS_intro.png" name="1-1" class="1"/>
    <img src="/static/img/intro/SmartCluster_intro.png" name="1-2" class="1" style="display:none;"/>
  </div>
</div>

<div id="second" {% if tab_id == '2' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <ul class="sub_item">
    <li><div onclick="imagetab(event, 2, 0)" class="sub_tab2">KT IMS</div></li>
    <li style="border-right:none;"><div onclick="imagetab(event, 2, 1)" class="sub_tab2">Small IMS</div></li>
  </ul>
  <div style="overflow-y:scroll; height:670px; width:880px; margin-left:60px;" id="divid2">
    <div class="2">
      <div style="float:right; margin-right:50px;">
        <a href="/static/video/ims.MP4" target="_blank"><img src="/static/video/video.png"/></a>
      </div>
      <img src="/static/img/intro/IMS_total_intro.png" name="2-1" />
    </div>
    <div class="2" style="display:none;">
      <div style="float:right; margin-right:50px;">
        <a href="/static/video/ims.MP4" target="_blank"><img src="/static/video/video.png"/></a>
      </div>
      <img src="/static/img/intro/SmallIMS_intro.png" name="2-2" />
    </div>
  </div>
</div>

<div id="third" {% if tab_id == '3' %}class="tabcontent_active" {% else %} class="tabcontent" {% endif %}>
  <div style="overflow-y:scroll; height:720px; width:880px; margin-left:60px;" id="divid3">
    <img src="/static/img/intro/GiGA_BILLs_intro.png" width="800px"/>
  </div>

</div>










{% endblock %}