{% extends "./selfcar.html" %}
{% block contents %}

<style>
    .insert_table {border-collapse:collapse; border-top: 2px solid #a3acad; border-bottom: 2px solid #a3acad; width:800px; font-family:맑은 고딕; line-height:2;}
    .insert_table th {background:#f8f8f8; text-align:center; font-size:13pt; width:180px; border-bottom:1px solid #ccc;  height:50px;}
    .insert_table td {background:#f8f8f8; border-bottom:1px solid #ccc}
    .input {height:35px; width:600px; background:#fff; text-align:top; border:1px solid #ccc; padding-left:10px;}
</style>

<div id="blank" style="height:50px; weight:947px;"></div>
<div class="contents">
	<h1 style="position:absolute; left:45%; margin-top:100px;">이미 예약하셨거나 또는 정원을 초과 하였습니다</h1>
</div>

{% endblock %}